# Never commit real credentials.

# Local API
HEARTLIGHT_DATA_ROOT=./heartlight-data

# Microsoft Azure Blob Storage
HEARTLIGHT_AZURE_CONNECTION_STRING=
HEARTLIGHT_AZURE_CONTAINER=

# IBM Cloud Object Storage
HEARTLIGHT_IBM_COS_API_KEY=
HEARTLIGHT_IBM_COS_INSTANCE_CRN=
HEARTLIGHT_IBM_COS_ENDPOINT=
HEARTLIGHT_IBM_COS_BUCKET=
